<template>
  <div class="home mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
          <form>
            <div class="form-group">
              <label>Contact name</label>
              <input
                      type="email"
                      class="form-control"
                      v-bind:class="{'is-invalid': $v.contactName.$error}"
                      placeholder="Enter name of contact"
                      v-model.trim="contactName"
                      v-on:blur="$v.contactName.$touch()"
              >
              <div class="invalid-feedback">Contact name is required</div>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input
                     type="text"
                     class="form-control"
                     v-bind:class="{'is-invalid': $v.contactPhone.$error}"
                     placeholder="Phone of contact"
                     v-model="contactPhone"
                     v-on:blur="$v.contactPhone.$touch()"
              >
              <div class="invalid-feedback" v-if="!$v.contactPhone.phoneValid">Phone isn't valid</div>
            </div>
            <button class="btn btn-success" v-on:click.prevent="addContact">Save contact</button>
            <div class="alert alert-danger mt-2" v-if="submitStatus === 'ERROR'">
              Please verify form
            </div>
            <div class="alert alert-success mt-2" v-if="submitStatus === 'OK'">
              Contact added
            </div>
          </form>
        </div>
      </div>
    <show-all></show-all>
  </div>
</template>

<script>
import axios from 'axios'
import { required } from 'vuelidate/lib/validators'
import showAll from '../components/showAll'

export default {
  name: 'home',
  components: {
    showAll
  },
  data () {
    return {
      contactName: null,
      contactPhone: null,
      submitStatus: null
    }
  },
  methods: {
    addContact: function () {
      let contact = {
        name: this.contactName,
        phone: this.contactPhone,
      }
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        axios.post('http://localhost:3000/contacts', contact)
          .then((response) => {
            this.submitStatus = 'OK'
          })
          .catch((error) => {
            console.log(error)
          })
        return console.log(contact)
      }
    }
  },
  validations: {
    contactName: {
      required
    },
    contactPhone: {
      phoneValid: (value) => {
        const regexp = /^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/
        return regexp.test(value)
      }
    }
  }
}
</script>
