<template>
<div class="mt-4 text-center">
    <p>Сейчас у вас: <b>{{ info }}</b> контакта</p>
    <button class="btn btn-warning" @click="getAllActive = true">Показат всех</button>
    <button class="btn btn-light ml-1" @click="getAllActive = false">Скрыть</button>
    <ul class="mt-4">
        <li class="mb-2" v-if="getAllActive" v-for="contact in contacts" :key="contact.id">{{contact.name}}</li>
    </ul>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'show-all',
  data () {
    return {
      contacts: null,
      info: null,
      getAllActive: false
    }
  },
  mounted () {
    let self = this
    axios
      .get('http://localhost:3000/contacts')
      .then(function (response) {
        self.contacts = response.data
        self.info = response.data.length
      })
      .catch(function (error) {
        console.log(error)
      })
  }
}
</script>

<style scoped>
    ul {
        padding: 0;
        list-style-type: none;
    }
</style>
